body {
    width:90%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px
}

h2  {
    padding-top: 10px;
    text-align: center;
}
   
table {
    width: 500px;
    font-size: "2";
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 1px;
}

td{
    padding: 1px;
}

.align {
    padding-left: 10px;
}

.posicao {
    padding-left: 54px;
    
}

form {
    width: 500px;
    margin: auto;
}


.borda {
    float: right;
}
